button {
  margin: 2px;
  border-radius: 10px;
  padding: 25px;
  font-size: 20px;
}

button:hover {
  background-color: red;
  color: gold;
}

thead {
  background-color: black;
  color: white;
}

tbody > tr:nth-child(odd) {
  background-color: lightgray;
}
